body {
    color: #ffff;
}

.container-game {
display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 80rem; */
    margin: 0 auto;
    padding: 2rem;
}


.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgba(196, 21, 231, 0.521);
    font-size: 10rem;
    min-width: 10rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 9, 255, 0.24);
    transform: scale(1.02);
    transform: transform 100ms;
}
.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 500%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}
.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 5rem;
}

.hud-main-text {
    text-align: center;
    margin-top: 0;
}

#progressBar {
    width: 50rem;
    height: 5rem;
    border: 0.2rem solid rgb(252, 17, 240);
    margin-top: 5rem;
    border-radius: 70px;
    overflow: hidden;
}
#progressBarFull {
    height: 100%;
    background: rgba(255, 7, 222, 0.541);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
        font-size: 35px;
    }
    body {
        font-size: 35px;
    }
    h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 375px) {
    .choice-container {
        min-width: 40rem;
        font-size: 30px;
    }
    body {
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
}