:root {
  background-image: url(   https://www.manufosela.es/shooting_stars/hori.png), url( https://www.manufosela.es/shooting_stars/stars_5.png);
}

.stars {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .star {
    position: absolute;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/03/10/08/rocket-309901_960_720.png');
    background-size: cover;
    width: 20rem;
    height: 35rem;
    will-change: transform;
    animation: shooting-star 30s linear infinite;

  }
  
  @keyframes shooting-star {
    0% {
      transform: translateY(200%) translateX(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(0%) translateX(300%);
      opacity: 1;
    }
  }
  
    .moons {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .moon {
    z-index: -1;
    position: absolute;
    background-image: url('https://imgpng.ru/d/mars_planet_PNG37.png');
    background-size: cover;
    width: 30rem;
    height: 30rem;
  }
  


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 44%;
    font-family: 'Luckiest Guy', cursive;
}

h1 {
    font-size: 10rem;
    margin-bottom: 5rem;
    color: rgb(255, 255, 255);
    margin: 70px;
}

h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 6rem;
    padding: 6rem 0;
    width: 50rem;
    text-align: center;
    margin-bottom: 1rem;
    margin: 30px;
    text-decoration: none;
    color: rgb(187, 22, 187);
    background: linear-gradient(90deg,rgb(10, 18, 121), rgb(0,10,255),100%);
    border-radius: 4px;

}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(18,92,255);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscores-btn:hover {
    color: aqua;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0);
}

/* End page style */

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
}

input::placeholder {
  color:#aaa;
}

#username {

  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}

#saveScoreBtn {
  background-color: rgba(252, 247, 247, 0);
}

.btn-end {
  font-size: 4rem;
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(187, 22, 187);
  background: linear-gradient(90deg,rgb(10, 18, 121), rgb(0,10,255),100%);
  border-radius: 4px;
}

.fa-home {
  margin-left: 1rem;
  font-size: 2rem;
  color: (28, 26, 26);
}


